@{
  Layout = "_Layout";
}

@model TreatsApp.Models.Treat


<h4>add a flavor to this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("choose a flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="save" />
}

<p>@Html.ActionLink("back to list", "Index")</p>

