@{
  Layout = "_Layout";
}

@using TreatsApp.Models;

<h1>treatz by pierre.</h1>


@if (User.Identity.IsAuthenticated)
{
  <h4>Treats for @User.Identity.Name</h4>
  @if (Model.Count == 0)
  {
    <p>No treats have been added yet!</p>
  } 
    @foreach (Treat treat in Model)
    {
        @Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})
    }
}
else
{
  <h4>treats</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats.</p>
}


<p>@Html.ActionLink("treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("create or manage an account", "Index", "Account")</p>

